@charset "utf-8";

/* 親要素をrelativeに */
body {

  position:relative;
  }
  
  
  #zoomback {
  
  /* 絶対位置に配置 */
  position:absolute;
  top:0;
  
  /* 画面いっぱいに */
  width:100vw;
  height:100vh;
  
  /* 背景を少し透過 */
  background-color:rgba(0,0,0,0.8);
  
  /* 中のimgを中央揃え */
  display:flex;
  justify-content:center;
  align-items:center;
  display:none;
  }
  
  
  /* 拡大画像のサイズを調整 */
  #zoomimg {
  width:50%;
  border:solid 5px #fff;
  }